<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>ADPanel Final</title>
  <link rel="stylesheet" href="/style.css">
  <script src="/socket.io/socket.io.js"></script>
</head>
<body>
  <h1>ADPanel Final</h1>
  <div class="node-version">
    <h2>Install Node.js</h2>
    <form action="/install-node" method="POST">
      <select name="version">
        <% nodeVersions.forEach(v => { %>
          <option value="<%= v %>"><%= v %></option>
        <% }) %>
      </select>
      <button>Install</button>
    </form>
  </div>
  <div class="upload">
    <form action="/upload" method="POST" enctype="multipart/form-data">
      <input type="file" name="file" accept=".zip" required>
      <button>Upload Bot ZIP</button>
    </form>
  </div>
  <% bots.forEach(bot => { %>
    <div class="bot">
      <h3><%= bot %></h3>
      <button onclick="startBot('<%= bot %>')">Start</button>
      <button onclick="stopBot('<%= bot %>')">Stop</button>
      <button onclick="restartBot('<%= bot %>')">Restart</button>
      <button onclick="showLogs('<%= bot %>')">Console</button>
      <button onclick="showFiles('<%= bot %>')">Files</button>
      <div class="console"><pre id="log-<%= bot %>"></pre></div>
      <div class="files" id="files-<%= bot %>"></div>
    </div>
  <% }) %>
<script>
  const socket = io();
  function startBot(bot) { fetch('/start/'+bot, {method:'POST'}).then(()=>location.reload()); }
  function stopBot(bot) { fetch('/stop/'+bot, {method:'POST'}).then(()=>location.reload()); }
  function restartBot(bot) { fetch('/restart/'+bot, {method:'POST'}).then(()=>location.reload()); }
  function showLogs(bot) {
    const pre = document.getElementById('log-'+bot);
    pre.textContent = '';
    socket.emit('logs', bot);
    socket.on('log', data => pre.textContent += data);
  }
  function showFiles(bot) {
    fetch('/files/'+bot).then(res=>res.json()).then(files=>{
      const div = document.getElementById('files-'+bot);
      div.innerHTML = '';
      files.forEach(f=>{
        const a=document.createElement('a');
        a.href=`/file/${bot}/${f}`; a.target='_blank'; a.textContent=f;
        div.appendChild(a); div.appendChild(document.createElement('br'));
      });
    });
  }
</script>
</body>
</html>
